.pokemon-list-wrap{
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.pokemon-wrap{
   
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    justify-content: space-evenly;
    
    
}
.pokemon-name{
   
    letter-spacing: 5px;
}
.control{
    margin: 0 auto;
}
.control button {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-left: 1rem;
}